@import '../../modules/mediaQuery/app'

.container
  background-color: transparent
  color: $color-quatenary
  width: 278px
  &:hover, &:focus
    background-color: $color-secondary

.input
  background-color: transparent
  border: none
  outline: none

.suggestionsContainer
  background-color: white
  display: block
  position: absolute
  top: 2rem
  width: 278px
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  z-index: 2

.suggestionsList
  margin: 0
  padding: 0
  list-style-type: none

.suggestion
  padding: 10px 20px

.suggestionHighlighted 
  background-color: $color-secondary

.sectionTitle
  background-color: $color-primary
  padding: 5px 5px